In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

Reindex Series (也就是对下标进行获取数据和重新赋值)

In [2]:
s1 = Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
#可以替换index
s2 = Series([1,2,3,4], index = [2,3,4,5])
s2

2    1
3    2
4    3
5    4
dtype: int64

In [8]:
s2.index

Int64Index([2, 3, 4, 5], dtype='int64')

In [11]:
s1.reindex(index = ['A','B','C','D'])
#reindex并不会replace 只会进行选取

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [12]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
s1.reindex(index = [1,2,4], fill_value=10)
#取出第1个，第2个的值

1    2
2    3
4    5
dtype: int64

In [19]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
s2

2    1
3    2
4    3
5    4
dtype: int64

In [21]:
#dataFrame的reindex

In [25]:
a = np.random.rand(15).reshape(3,5)
a

array([[0.17914425, 0.09351293, 0.13387044, 0.78765896, 0.50794255],
       [0.03967009, 0.30607777, 0.50037246, 0.52731922, 0.85287787],
       [0.08713518, 0.98119576, 0.83365712, 0.81025416, 0.98516911]])

In [28]:
df = DataFrame(a,index=[1,2,3],columns=['A','B','C','D','E'])
df
#这种情况也没有指定Index

          A         B         C         D         E
1  0.179144  0.093513  0.133870  0.787659  0.507943
2  0.039670  0.306078  0.500372  0.527319  0.852878
3  0.087135  0.981196  0.833657  0.810254  0.985169

In [32]:
df[['A','B']] #取需要的行

          A         B
1  0.179144  0.093513
2  0.039670  0.306078
3  0.087135  0.981196

In [35]:
df.reindex(index = [1,2] , columns=['C','D'])

          C         D
1  0.133870  0.787659
2  0.500372  0.527319

In [42]:
df.reindex(index = [1,2] , columns=['C','D','F'],fill_value=100) #NaN的问题  可以自动填充值 填写所需要的

          C         D      F
1  0.133870  0.787659  100.0
2  0.500372  0.527319  100.0