In [9]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

删除重复数据

In [10]:
df = pd.read_csv('demo_duplicate.csv')
df.shape

(3989, 4)

In [11]:
df.head() #理解为一个股票的数据

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [13]:
#删除Se中重复的数据
len(df['Seqno'].unique())

1000

In [14]:
#返回每一行的数据是否和之前的有重复
df['Seqno'].duplicated()

0       False
1        True
2        True
3        True
4       False
        ...
3984     True
3985    False
3986     True
3987     True
3988     True
Name: Seqno, Length: 3989, dtype: bool

In [17]:
df.drop_duplicates(['Seqno'],keep='last').head()#只保留一个

     Price  Seqno Symbol        time
3   1623.0    0.0   APPL  1473411963
7   1649.0    1.0   APPL  1473411964
11  1642.0    2.0   APPL  1473411965
15  1636.0    3.0   APPL  1473411966
19  1669.0    4.0   APPL  1473411967