In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

BINNING = 分级

In [5]:
score_list1 = np.random.randint(30,100,20) #随机生成30-100的20个数
score_list1

array([76, 78, 59, 30, 58, 78, 82, 39, 33, 37, 33, 30, 56, 87, 51, 67, 90,
       93, 93, 88])

In [7]:
bins = [30,59,80,100]

[30, 59, 80, 100]

In [10]:
a = pd.cut(score_list1,bins) #求出每个元素对应的区间是什么

In [11]:
type(a)

pandas.core.arrays.categorical.Categorical

In [12]:
a.value_counts()

(30, 59]     8
(59, 80]     4
(80, 100]    6
dtype: int64

In [13]:
df = DataFrame()

In [16]:
df['students'] = [pd.util.testing.rands(5) for i in range(20)]
df['scores'] = score_list1
df

   students  scores
0     Rb26Z      76
1     2SMbD      78
2     4HQ7E      59
3     BlSNE      30
4     EgiBz      58
5     xN2xC      78
6     n0ezT      82
7     ZKPNn      39
8     ThtMT      33
9     PZVzW      37
10    Z7TWM      33
11    i2GAR      30
12    Ydc8u      56
13    9hNLh      87
14    ib0o6      51
15    2nkKR      67
16    DodIc      90
17    25Jsr      93
18    A6gIq      93
19    1zyQb      88

In [22]:
df['bins'] = pd.cut(df['scores'],bins=bins,labels=['bad','ok','great']) #label表示对应区间
df

   students  scores   bins
0     Rb26Z      76     ok
1     2SMbD      78     ok
2     4HQ7E      59    bad
3     BlSNE      30    NaN
4     EgiBz      58    bad
5     xN2xC      78     ok
6     n0ezT      82  great
7     ZKPNn      39    bad
8     ThtMT      33    bad
9     PZVzW      37    bad
10    Z7TWM      33    bad
11    i2GAR      30    NaN
12    Ydc8u      56    bad
13    9hNLh      87  great
14    ib0o6      51    bad
15    2nkKR      67     ok
16    DodIc      90  great
17    25Jsr      93  great
18    A6gIq      93  great
19    1zyQb      88  great