In [1]:
import numpy as np
import pandas as pad
from pandas import Series,DataFrame

In [3]:
s = Series(np.random.rand(10))
s

0    0.006919
1    0.636380
2    0.913321
3    0.952798
4    0.438096
5    0.036268
6    0.540708
7    0.593255
8    0.284890
9    0.068938
dtype: float64

In [7]:
s.sort_values() #默认从小到大

0    0.006919
5    0.036268
9    0.068938
8    0.284890
4    0.438096
6    0.540708
7    0.593255
1    0.636380
2    0.913321
3    0.952798
dtype: float64

In [9]:
s.sort_values(ascending=False) #逆序

3    0.952798
2    0.913321
1    0.636380
7    0.593255
6    0.540708
4    0.438096
8    0.284890
9    0.068938
5    0.036268
0    0.006919
dtype: float64

In [12]:
s.sort_index(ascending=False) #把index拿来降序

9    0.068938
8    0.284890
7    0.593255
6    0.540708
5    0.036268
4    0.438096
3    0.952798
2    0.913321
1    0.636380
0    0.006919
dtype: float64

In [14]:
s.max()

0.9527981545411698

In [15]:
s.min()

0.006919499194733447

In [17]:
s.mean()

0.44715745645363325

In [21]:
s1 = Series([1,2,3],index=['A','B','C'])
s2 = Series([4,5,6],index=['A','D','E'])
s1 + s2 #加了相对应的index的值 没有对应Index只能输出NaN

A    5.0
B    NaN
C    NaN
D    NaN
E    NaN
dtype: float64

In [23]:
#DataFrame
df = DataFrame(np.random.rand(20).reshape(4,5))
df

          0         1         2         3         4
0  0.422663  0.953791  0.475038  0.120919  0.648244
1  0.986052  0.869269  0.850693  0.856429  0.084674
2  0.050742  0.962675  0.137938  0.848221  0.057961
3  0.470447  0.916196  0.275217  0.820868  0.762959

In [28]:
df.sort_values(by=4) #按照了第四列进行排序

          0         1         2         3         4
2  0.050742  0.962675  0.137938  0.848221  0.057961
1  0.986052  0.869269  0.850693  0.856429  0.084674
0  0.422663  0.953791  0.475038  0.120919  0.648244
3  0.470447  0.916196  0.275217  0.820868  0.762959

In [30]:
df.sort_values(axis=1, by=1) #按照第0行开始排序
df

          0         1         2         3         4
0  0.422663  0.953791  0.475038  0.120919  0.648244
1  0.986052  0.869269  0.850693  0.856429  0.084674
2  0.050742  0.962675  0.137938  0.848221  0.057961
3  0.470447  0.916196  0.275217  0.820868  0.762959

In [31]:
df.sort_index()

          0         1         2         3         4
0  0.422663  0.953791  0.475038  0.120919  0.648244
1  0.986052  0.869269  0.850693  0.856429  0.084674
2  0.050742  0.962675  0.137938  0.848221  0.057961
3  0.470447  0.916196  0.275217  0.820868  0.762959

In [33]:
df1 = DataFrame(np.random.rand(20).reshape(4,5),index=[3,2,1,4])
df1

          0         1         2         3         4
3  0.933637  0.453209  0.491745  0.387745  0.213864
2  0.691642  0.250689  0.424948  0.282994  0.129768
1  0.754981  0.154190  0.430539  0.997832  0.618348
4  0.933798  0.325448  0.679978  0.113138  0.323808

In [34]:
df1.sort_index()

          0         1         2         3         4
1  0.754981  0.154190  0.430539  0.997832  0.618348
2  0.691642  0.250689  0.424948  0.282994  0.129768
3  0.933637  0.453209  0.491745  0.387745  0.213864
4  0.933798  0.325448  0.679978  0.113138  0.323808

In [41]:
df1.max(axis = 1)

3    0.933637
2    0.691642
1    0.997832
4    0.933798
dtype: float64

In [42]:
df1.min()

0    0.691642
1    0.154190
2    0.424948
3    0.113138
4    0.129768
dtype: float64

In [43]:
df.mean()

0    0.482476
1    0.925483
2    0.434722
3    0.661609
4    0.388459
dtype: float64

In [44]:
df.describe()

              0         1         2         3         4
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.482476  0.925483  0.434722  0.661609  0.388459
std    0.384580  0.042548  0.309935  0.360780  0.369347
min    0.050742  0.869269  0.137938  0.120919  0.057961
25%    0.329682  0.904464  0.240898  0.645881  0.077996
50%    0.446555  0.934993  0.375128  0.834545  0.366459
75%    0.599348  0.956012  0.568952  0.850273  0.676923
max    0.986052  0.962675  0.850693  0.856429  0.762959